* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $dark-blue;
}
.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $dark-blue;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
        color: #fff;
        font-size: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: default;
    }
}
nav {
    display: flex;
    align-items: center;
    color: #fff;
    height: 170px;
    margin: 0 200px;
    .logo {
        font-family: "Bebas Neue", cursive;
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: 5px;
        color: #fff;
        text-decoration: none;
        span {
            font-family: "Bebas Neue", cursive;
            transition: color .2s;
        }
        &:hover span {
            color: $orange;
        }
    }
    ul {
        display: flex;
        width: calc(100% - 215px);
        gap: 80px;
        padding-left: 80px;
        li {
            list-style-type: none;
            a {
                position: relative;
                color: #fff;
                font-family: "Lato",sans-serif;
                font-size: 1.2rem;
                text-decoration: none;
                &::after {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 100%;
                    left: 0;
                    bottom: -5px;
                }
                &:hover::after {
                    background-color: $orange;
                }
            }
            &.active {
                a::after {
                    background-color: $orange;
                }
            }
            &.right {
                margin: auto 0 auto auto
            }
        }
    }
    .responsive {
        display: none;
    }
}