* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $dark-blue;
}
.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $dark-blue;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 1s ease 3s fadeout both;
    .box {
        color: #fff;
        font-size: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: default;
    }
}
@keyframes loader {}