#games {
    margin: auto; 
    min-height: 100vh;
    width: 100%;
    .podium {
        margin: auto;
        width: 85vw;
        border-radius: 5px;
        display: flex;
        .inner {
            margin: 50px 100px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            filter: drop-shadow(0 0 15px darken($dark-blue, 10));
            .profil {
                height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                font-weight: 600;
                color: #fff;
                .image {
                    aspect-ratio: 1/1;
                    width: 100px;
                    overflow: hidden;
                    border-radius: 100%;
                    background-color: #fff;
                    border: 3px solid #fff;
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .first .background {
                background-color: rgb(243, 201, 31);
                width: 150px;
                height: 240px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding-top: 25px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;
                box-shadow: inset 0 0 10px rgb(177, 146, 22);
            }
            .second .background {
                background-color: rgb(176, 176, 176);
                width: 150px;
                height: 160px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding-top: 25px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                overflow: hidden;
                box-shadow: inset 0 0 10px rgb(139, 139, 139);
            }
            .third .background {
                background-color: rgb(230, 131, 3);
                width: 150px;
                height: 100px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding-top: 25px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                overflow: hidden;
                box-shadow: inset 0 0 10px rgb(197, 112, 0);
            }
        }
        .table {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 50px;
            .infos {
                display: grid;
                grid-template-columns: 1fr .5fr;
                background-color: #eee;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 10px;
            }
            .content {
                background-color: #fff;
                height: 100%;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .item {
                    padding: 5px 10px;
                    display: grid;
                    grid-template-columns: 1fr .5fr;
                    color: rgba(0, 0, 0, 0.459);
                    font-weight: 800;
                    &:hover {
                        color: #000;
                        background-color: #ddd;
                    }
                }
            }
        }
    }
    .add-game {
        width: 85vw;
        margin: 50px auto 30px;
        padding: 0 50px;
        .inner {
            padding: 25px 80px;
            display: flex;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            --gradient-color-1:#0066ff;
            --gradient-color-2:#7700ff;
            background: var(--gradient-color-1);
            background: -moz-linear-gradient(270deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
            background: -webkit-linear-gradient(270deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
            background: linear-gradient(270deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0070ff",endColorstr="#00d7ff",GradientType=1);
            box-shadow: 0 0 25px rgb(0 0 0 / 10%);
            .text {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
                
                h1 {
                    color: #fff;
                    font-size: 2rem;
                }

                p {
                    color: rgba(255, 255, 255, 0.97);
                }
                .wrapper {
                    display: flex;
                    align-items: center;
                    a.btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        span {
                            padding: 15px 25px;
                            border-radius: 5px;
                            background-color: #eee;
                            color: #000;
                        }
                    }
                }
            }
            .icon {
                margin: 0 0 0 auto;
                position: relative;
                aspect-ratio: 1;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 8rem;
                i {
                    transform: rotateZ(-8deg);
                }
            }
        }
    }
    .game-list {
        .label {
            font-size: 1.5rem;
        }
        .content {
            margin: 15px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            .game {
                padding: 10px;
                position: relative;
                background: #eee;
                height: 80px;
                width: 250px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 15px #24266d;
                p {
                    height: 100%;
                    color: #24266d;
                    font-size: 1.1rem;
                    font-weight: 600;
                    letter-spacing: 0.9px;
                }
                span {
                    width: 100%;
                    text-align: right;
                    color: #24266d;
                }
            }
        }
        color: #fff;
        min-height: 200px;
        margin: auto;
        width: 85vw;
        padding: 0 50px;
    }
}
@media screen and (max-width: 1550px) {
    #games {
        .podium {
            flex-direction: column;
            .table {
                .content {
                    min-height: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 660px) {
    #games {
        .podium {
            width: 100%;
            .inner {
                margin: 50px 0;
                width: 100%;
                .second {
                    width: 30%;
                    .profil {
                        .image {
                            max-width: 100px;
                            width: 90%;
                        }
                    }
                    .background {
                        width: 100%
                    }
                }
                .first {
                    width: 30%;
                    .profil {
                        .image {
                            max-width: 100px;
                            width: 90%;
                        }
                    }
                    .background {
                        width: 100%
                    }
                }
                .third {
                    width: 30%;
                    .profil {
                        .image {
                            max-width: 100px;
                            width: 90%;
                        }
                    }
                    .background {
                        width: 100%
                    }
                }
            }
            
        }
    }
}