#landing-page {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    nav {
        display: flex;
        align-items: center;
        color: #fff;
        height: 170px;
        margin: 0 200px;
        .logo {
            font-family: "Bebas Neue", cursive;
            font-size: 3.5rem;
            font-weight: bold;
            letter-spacing: 5px;
            span {
                font-family: "Bebas Neue", cursive;
            }
            &:hover span {
                color: $orange;
            }
        }
        ul {
            display: flex;
            width: calc(100% - 215px);
            gap: 80px;
            padding-left: 80px;
            li {
                list-style-type: none;
                a {
                    position: relative;
                    color: #fff;
                    font-family: "Lato",sans-serif;
                    font-size: 1.2rem;
                    text-decoration: none;
                    &::after {
                        position: absolute;
                        content: '';
                        height: 2px;
                        width: 100%;
                        left: 0;
                        bottom: -5px;
                    }
                    &:hover::after {
                        background-color: $orange;
                    }
                }
                
                &.right {
                    margin: auto 0 auto auto
                }
            }
        }
        .responsive {
            display: none;
        }
    }
    .inner {
        max-width: 100vw;
        height: calc(100vh - 340px);
        display: grid;
        grid-template: 
            ". b ." auto
            "a b c" auto
            ". b ." auto / 1fr 1fr 1fr;
        .discover {
            grid-area: a;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 200px;
            .content {
                h1 {
                    font-size: 5rem;
                    color: #fff;
                }
                .button {
                    color: #fff;
                    margin-top: 15px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    background-color: $orange;
                    box-shadow: 0 0 50px rgb(255 101 36 / 20%);
                    width: 250px;
                    height: 50px;
                    border-radius: 50px;
                    align-items: center;
                    justify-content: center;
                    transition: background-color .2s,box-shadow .2s;
                    cursor: pointer;
                    i {
                        font-size: 1.2rem;
                        position: relative;
                        left: 40px;
                    }
                }
            }
        }
        .mochi-wrapper {
            grid-area: b;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                width: 300px;
                position: relative;
                z-index: 0;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.281));
            }
            .decoration-circles {
                .big {
                    position: absolute;
                    width: 500px;
                    aspect-ratio: 1;
                    border-radius: 100%;
                    background: linear-gradient(0deg, #303394 0%, #3e42c0 100%);
                    border-top: 1px solid rgba(255,255,255,.05);
                    border-left: 1px solid rgba(255,255,255,.05);
                    border-right: 1px solid rgba(255,255,255,.05);
                    z-index: -3;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation: homeCircles 20s infinite;
                }
                .small {
                    position: absolute;
                    width: 350px;
                    aspect-ratio: 1;
                    border-radius: 100%;
                    background: linear-gradient(15deg, #383db3 0%, #3e42c0 100%);
                    border: 1px solid rgba(255,255,255,.1);
                    z-index: -2;
                    box-shadow: 0 0 50px #303394;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation: homeCircles 16s infinite;
                }
            }
        }
        .description {
            grid-area: c;
            display: flex;
            align-items: center;
            padding-right: 25px;
        }
        p {
            font-size: 2rem;
            color: #fff;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .decorations {
        .star-wrapper {
            height: 100%;
            width: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            z-index: -1;
            .star {
                position: absolute;
                color: $light-blue;
                z-index: -3;
                top: 0;
                left: 0;
                &-1 {
                    font-size: 6rem;
                    @include starKeyframes(translateY(15vh), translateX(25vw), rotate(50deg), 1);
                    animation: starAnim1 3s infinite;
                }
                &-2 {
                    font-size: 15rem;
                    @include starKeyframes(translateY(60vh), translateX(40vw), rotate(800deg), 2);
                    animation: starAnim2 6s infinite;
                }
                &-3 {
                    font-size: 9rem;
                    @include starKeyframes(translateY(2vh), translateX(80vw), rotate(10deg), 3);
                    animation: starAnim3 5s infinite;
                }
                &-4 {
                    font-size: 9rem;
                    @include starKeyframes(translateY(25vh), translateX(5vw), rotate(0deg), 4);
                    animation: starAnim4 5s infinite;
                }
                &-5 {
                    font-size: 3rem;
                    @include starKeyframes(translateY(20vh), translateX(75vw), rotate(10deg), 5);
                    animation: starAnim5 2s infinite;
                }
                &-6 {
                    font-size: 20rem;
                    @include starKeyframes(translateY(50vh), translateX(75vw), rotate(56deg), 6);
                    animation: starAnim6 7s infinite;
                }
                &-7 {
                    font-size: 3rem;
                    @include starKeyframes(translateY(80vh), translateX(15vw), rotate(56deg), 7);
                    animation: starAnim7 2s infinite;
                }
            }
        }
    }
}
#community {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
        background-color: #383db3;
        border-radius: 5px;
        box-shadow: 0 0 25px rgb(0 0 0 / 10%);
        width: 80vw;
        .top {
            display: flex;
            align-items: center;
            .title {
                font-family: "Bebas Neue",cursive;
                font-size: 3.5rem;
                font-weight: bold;
                letter-spacing: 5px;
                color: #fff;
                margin: 20px 0 20px 100px;
                .sub-title {
                    font-family: "Bebas Neue",cursive;
                    font-size: 2.5rem;
                    font-weight: bold;
                    letter-spacing: 5px;
                    color: #8789db;
                    margin: 25px 15px;
                }
            }
        }
        p {
            color: #fff;
            padding: 5px 100px 25px 100px;
            font-size: 1.5rem;
            line-height: 40px;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}
@media screen and (max-width: 1360px) {
    #landing-page {
        .inner {
            height: calc(100vh - 170px);
            grid-template: 
            "a b" auto
            "a b" auto
            "c c" auto / 1fr 1fr;
            .description {
                margin: 0 200px;
                padding: 0;
            }
        }
        .decoration-circles {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: -1;
        }
    }
    #community .box {
        .top {
            .title {
                text-align: center;
                margin: 20px 40px 20px 40px;
                font-size: 2.5rem;
            }
            .sub-title {
                font-size: 2rem;
            }
        }
        p {
            padding: 5px 20px 25px 20px;
            font-size: 1.3rem;
        }
    } 
}
@media screen and (max-width: 1135px) {
    #landing-page {
        nav {
            .desktop {
                display: none;
            }
            .responsive {
                display: block;
                margin-left: auto;
                font-size: 2rem;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    #landing-page {
        nav {
            margin: 0 100px;
        }
        .inner {
            grid-template: 
            "b" auto
            "a" auto
            "c" auto / 1fr;
            height: auto;
            .discover {
                align-items: center;
                padding: 0;
            }
            .description {
                margin: 25px 10%;
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    #community {
        padding: 0;
        .box {
            width: 100vw;
        }
    }
}