@keyframes homeBg {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}
@keyframes homeBgtablet {
    0% {
        transform: translate(0, -50%) scale(1);
    }
    50% {
        transform: translate(0, -50%) scale(1.2);
    }
}
